@import "./styles/layout.css";
@import "./styles/toolbar.css";
@import "./styles/fileList.css";
@import "./styles/dialogs.css";
@import "./styles/preview.css";
@import "./styles/responsive.css";
@import "./styles/settings.css";
@import "./styles/terminal.css";
@import "./styles/animations.css";
